# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
*/.ipynb_checkpoints/*

# Virtual Environment
venv/
env/
.env/

# OS specific files
.DS_Store
Thumbs.db

# Large Datasets and Archives
ntua-parkinson-dataset-master/
**/ntua-parkinson-dataset-master/
*.zip
*.tar.gz
*.rar
